mat-sidenav-container, mat-sidenav, mat-sidenav-content {
    height: 100%;;
}
a {
    text-decoration: none;
}
mat-sidenav {
    width: 250px;
}

button {
    color: white;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    a {
        text-decoration: none;
        color: white;
        font-weight: 400;
    }
}

mat-toolbar {
    background: tomato;
}